<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Personal Details</h4>
      </div>
      <div class="panel-body" *ngIf="form">
        <div class="row">
          <div class="col-xs-12 col-md-6" *ngFor="let field of structure.field_keys">

            <!-- date field -->
            <ng-template [ngIf]="structure.fields[field].type == 'date'">
              <date-picker [form]="form" [field]="field" [form_field]="structure.fields[field]"
                           [form_submitted]="form_submitted"></date-picker>
            </ng-template>
            <!-- ./date field -->

            <!-- input field -->
            <ng-template [ngIf]="structure.fields[field].type == 'string'">
              <text-field [form]="form" [field]="field" [form_field]="structure.fields[field]"
                          [form_submitted]="form_submitted"></text-field>
            </ng-template>
            <!-- ./input field -->

          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" (click)="save()">Next</button>
      </div>
    </div>
  </div>
</div>